---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

interface PostData {
    slug: string;
    data: {
        title: string;
        summary: string;
        img: string;
    };
}

const { slug } = Astro.params;

export const getStaticPaths = async () => {
    const posts = (await getCollection('posts')) as PostData[];
    return posts.map(post => ({
        params: { slug: post.slug },
    }));
};
---

<Layout title='Home'>
    <main
        class='min-h-screen flex items-center justify-center w-full'
        style="background: -webkit-linear-gradient(90deg, #09090c, #1a1b23); background: linear-gradient(90deg, #09090c, #1a1b23);"
    >
        <article class='bg-white shadow-lg rounded-lg p-8 max-w-4xl w-full'>
            <div class="flex flex-col md:flex-row gap-8">
                <!-- Imagen -->
                <div class="flex-shrink-0">
                    <img
                        class='rounded-lg max-w-xs md:max-w-sm mx-auto object-cover'
                        src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTliOrt4npZkd078uqd21kwl2het3n0eZpXsg&s'
                        alt='Foto del ave'
                    />
                </div>

                <!-- Contenido -->
                <div class="flex-grow">
                    <h1 class="text-4xl font-semibold text-green-500 mb-6 text-center md:text-left">
                        Amazona Frentirroja
                    </h1>
                    <ul class="list-none space-y-4 text-lg">
                        <li>
                            <div class="flex justify-between">
                                <p class="font-semibold text-gray-900">Reino</p>
                                <p class="font-semibold text-gray-900">Animalia</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex justify-between">
                                <p class="font-semibold text-gray-900">Filo</p>
                                <p class="font-semibold text-gray-900">Chordata</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex justify-between">
                                <p class="font-semibold text-gray-900">Clase</p>
                                <p class="font-semibold text-gray-900">Aves</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex justify-between">
                                <p class="font-semibold text-gray-900">Orden</p>
                                <p class="font-semibold text-gray-900">Psittaciformes</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex justify-between">
                                <p class="font-semibold text-gray-900">Familia</p>
                                <p class="font-semibold text-gray-900">Psittacidae</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex justify-between">
                                <p class="font-semibold text-gray-900">Género</p>
                                <p class="font-semibold text-gray-900">Amazona</p>
                            </div>
                        </li>
                        <li>
                            <div class="flex justify-between">
                                <p class="font-semibold text-gray-900">Especie</p>
                                <p class="font-semibold text-gray-900">Amazona autumnalis</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Acordeón -->
            <div class="mt-8">
                <h2 id="accordion-collapse-heading-1">
                    <button
                        type="button"
                        class="flex items-center justify-between w-full p-5 font-medium text-green-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 gap-3"
                        data-accordion-target="#accordion-collapse-body-1"
                        aria-expanded="false"
                        aria-controls="accordion-collapse-body-1"
                    >
                        <span>Descripción</span>
                        <svg
                            data-accordion-icon
                            class="w-4 h-4 shrink-0"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 10 6"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 5 5 1 1 5"
                            />
                        </svg>
                    </button>
                </h2>
                <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
                    <div class="p-5 border border-b-0 border-gray-100">
                        <p>
                            La amazona frentirroja (*Amazona autumnalis*), llamada también loro cariamarillo, cachete
                            amarillo, loro palencano o chojín, es una especie de ave psitaciforme de la familia Psittacidae.
                            Esta especie del género *Amazona*, nativa de las regiones tropicales de América, está distribuida
                            desde el este de México hasta el sur de Ecuador.
                        </p>
                    </div>
                </div>

                <h2 id="accordion-collapse-heading-2" class="mt-4">
                    <button
                        type="button"
                        class="flex items-center justify-between w-full p-5 font-medium text-green-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 hover:bg-gray-100 gap-3"
                        data-accordion-target="#accordion-collapse-body-2"
                        aria-expanded="false"
                        aria-controls="accordion-collapse-body-2"
                    >
                        <span>Apariencia</span>
                        <svg
                            data-accordion-icon
                            class="w-4 h-4 shrink-0"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 10 6"
                        >
                            <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M9 5 5 1 1 5"
                            />
                        </svg>
                    </button>
                </h2>
                <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
                    <div class="p-5 border border-b-0 border-gray-100">
                        <p>
                            Es un ave de 32–35 cm de largo, con peso de 310–480 g. El plumaje es básicamente verde, con la
                            frente roja, mejillas amarillas (en ocasiones con manchas rojas).
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const accordionButtons = document.querySelectorAll("[data-accordion-target]");
            accordionButtons.forEach((button) => {
                button.addEventListener("click", () => {
                    const dataTarget = button.getAttribute("data-accordion-target");
                    if (dataTarget !== null) {
                        const target = document.querySelector(dataTarget);
                        if (target !== null) {
                            const expanded = button.getAttribute("aria-expanded") === "true";
                            button.setAttribute("aria-expanded", (!expanded).toString());
                            target.classList.toggle("hidden");
                        }
                    }
                });
            });
        });
    </script>
</Layout>
