---
import BackButton from '../components/BackButton.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title='Contact'>
    <main class='min-h-screen flex items-center justify-center w-full'>
        <article class='bg-white shadow-lg rounded-lg p-8 max-w-4xl w-full relative'>
            <header class='absolute top-4 left-4'>
                <BackButton backUrl='/' />
            </header>
            <section class='flex flex-col md:flex-row gap-8 mt-4'>
                <h1
                    class='mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl'
                >
                    Miembros del Equipo
                </h1>
            </section>
            <section>
                
            </section>
        </article>
    </main>
</Layout>
