---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Contact'>
    <main class='min-h-screen min-w-full flex flex-col items-center justify-center'>
        <h1 class='text-3xl font-semibold text-red-600 mb-4'>Amazona Frentirroja</h1>
        <section>
            <img class='h-auto max-w-full rounded-lg' src='' alt='' />
        </section>
        <section id='carousel'>hola</section>
    </>
</Layout>
