---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
    <main class='min-h-screen flex items-center justify-center'>
        <article class='bg-white shadow-lg rounded-lg p-6 max-w-2xl w-full'>
            <h1 class='text-3xl font-semibold text-gray-900 mb-4'>Amazona Frentirroja</h1>
            <section>
                <div class='rounded-md shadow-sm'>
                    <img
                        class='rounded-sm'
                        src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTliOrt4npZkd078uqd21kwl2het3n0eZpXsg&s'
                        alt='Foto del ave'
                    />
                    <h2 class='text-2xl font-semibold text-gray-900'>Foto del ave</h2>
                </div>
                <p class='text-gray-700'>Contenido de ejemplo...</p>
            </section>
        </article>
    </main>
</Layout>

<style></style>
