---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home'>
    <main class='min-h-screen flex items-center justify-center'>
        <article class='bg-white shadow-lg rounded-lg p-6 max-w-2xl w-full'>
            <h1 class='text-3xl font-semibold text-gray-900 mb-4'>Bienvenido al Blog</h1>
            <section>
                <p class='text-gray-700'>Contenido de ejemplo...</p>
            </section>
        </article>
    </main>
</Layout>

<style></style>
